---
title: Constructivism
---

<h2>What is constructivism?</h2>

<p>Constructivism sounds like a complex learning theory, but it is really about a couple of simple ideas:</p>

<ul>
    <li>we learn best when we actively <em>construct</em> or <em>build</em> knowledge, and that</li>
    <li>learning involves making connections between our previous experiences and the new concepts we are learning.</li>
</ul>

<p>In this way our previous experiences are like a foundation or scaffolding which helps us understand new ideas and build knowledge.</p>

<h2>What is social-constructivism?</h2>

<p>Social-Constructivism adds a <em>social</em> layer to constructivist approaches to learning. So, from a social constructivist perspective, we learn when we interact with each other to build knowledge.</p>

<p>These interactions - sharing our previous experiences, exploring ideas together, and collaboratively engaging with new concepts - are the key components of social knowledge building.</p>

<p>For a closer look at these ideas, work with your team (or individually) on the following interactive reader on constructivism and social constructivism. </p>

<iframe src="https://uclabruinlearn.h5p.com/content/1291709932168445808/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *" aria-label="Constructivism & Social Constructivism"></iframe><script src="https://uclabruinlearn.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="constructivism-experiences"></a>{% include icon-notebook.html %}In your notebook: Your experiences with Constructivism and Learning</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Reflecting on your experiences with constructivist and social constructivist learning</h3>
    <p class="card-text">Choose 1-3 of the following questions. Then, in your notebook, write a quick, 3 minute reflection exploring your thoughts.</p>
	  <h4>Design for Learning</h4>
    <ul>
        <li>Can you think of an example in which a teacher has helped you learn a new concept by relating it to something you already knew? If so, what happened? How did this impact your learning?</li>
        <li>Have you ever experienced social-constructivist learning (or something similar)? Have you ever felt that you were a part of a learning community? If so, what was the experience like? What were you learning? What kinds of knowledge did you build together? How did the social aspects impact learning?</li>
	  </ul>
        
		<h4>Design for UX</h4>
	  <ul>
		<li>Can you think of an experience you have had (e.g., in an environment or with a product or service) where the designer built on your previous knowledge to allow you to do something new or achieve a personal goal?</li>
		<li>Often, different fields use different terms to talk about similar ideas. What language does the design world use to talk about constructivism and social-constructivism?</li>
		<li>Have you ever been in a designed environment (either online or in person) that encouraged building knowledge and understanding through social interaction? How did it work? What aspects of the design facilitated social constructivism? What would you have done differently if you had been the designer?</li>
		<li>In what ways does the design of this course encourage social-construtivist learning? How would you improve the design of this course to further incorporate social-constructivism?</li>
    </ul>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="social-constructivism"></a>{% include icon-team.html %}With your team: Constructivism and Social-Constructivism</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Getting social with (social-) constructivism</h3>
    <p class="card-text">Share your thoughts on constructivism and social constructivism with your team. To get the conversation started, listen to <a href="https://open.spotify.com/track/0EqLwxrToMzTGI6B0GqQfB">Bored of Education</a>, by Propaganda (or read this <a href="https://www.lyricsbox.com/propaganda-bored-of-education-lyrics-9l2nc95.html" target="_blank">transcript of the lyrics</a>).</p>
      <iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A0EqLwxrToMzTGI6B0GqQfB" width="100%" height="380" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>
    <ul>
        <li>Discuss with your team: What examples and counter-examples of constructivist and social-constructivist learning do you hear in this song? Which examples do you find most relatable?</li>
        <li>What are your experiences with social-constructivist learning?</li>
        <li>Thinking back to the <a href="https://youtu.be/nqm4HKRGZys?t=111" target="_blank">example of active learning in a lecture hall</a> that we watched previously, in what ways was this instructor demonstrating (and/or not demonstrating) social-constructivist teaching?</li>
        <li>How does your team encourage knowledge and community building? What other practices might you explore?</li>
		<li>Imagine you could design a school to address the issues brought up in "Bored of Education." What would your design include? Not include? Why?</li>
    </ul>
  </div>
</div>




