---
title: Constructivism
---

<h2>What is constructivism?</h2>

<p>Constructivism sounds like a complex learning theory, but it is really about a couple of simple ideas:</p>

<ul>
    <li>we learn when we actively <em>construct</em> or <em>build</em> knowledge, and that</li>
    <li>learning involves making connections between our previous experiences and the new concepts we are learning.</li>
</ul>

<p>In this way our previous experiences are like a foundation or scaffolding which helps us understand new ideas and build knowledge.</p>

<h2>What is social-constructivism?</h2>

<p>Social-Constructivism adds a <em>social</em> layer to constructivist approaches to learning. So, from a social constructivist perspective, we learn when we interact with each other to build knowledge.</p>

<p>These interactions - sharing our previous experiences, exploring ideas together, and collaboratively engaging with new concepts - are the key components of social knowledge building.</p>

<p>For a closer look at these ideas, work with your team (or individually) on the following interactive reader on constructivism and social constructivism. </p>

<iframe src="https://ccle.ucla.edu/mod/hvp/embed.php?id=2436778" width="100%" height="546" frameborder="1" allowfullscreen="allowfullscreen"></iframe><script src="https://ccle.ucla.edu/mod/hvp/library/js/h5p-resizer.js" charset="UTF-8"></script>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-notebook.html %}In your notebook:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Reflecting on your experiences with constructivist and social constructivist learning</h3>
    <p class="card-text">Choose one of the following questions. Then, in your notebook, write a quick, 3 minute reflection exploring your thoughts.</p>
    <ul>
        <li>Can you think of an example in which a teacher has helped you learn a new concept by relating it to something you already knew? If so, what happened? How did this impact your learning?</li>
        <li>Have you ever experienced social-constructivist learning (or something similar)? Have you ever felt that you were a part of a learning community? If so, what was the experience like? What were you learning? What kinds of knowledge did you build together? How did the social aspects impact learning?</li>
        <li>What are some examples of social-constructivist learning you have noticed in this mini-course?</li>
    </ul>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-team.html %}With your team:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Getting social with (social-) constructivism</h3>
    <p class="card-text">Share your thoughts on constructivism and social constructivism with your team.</p>
    <ul>
        <li>What are your experiences with social-constructivist learning?</li>
        <li>Thinking back to the <a href="https://youtu.be/nqm4HKRGZys?t=111" target="_blank">example of active learning in a lecture hall</a> that we watched previously, in what ways was this instructor demonstrating (and/or not demonstrating) social-constructivist teaching?</li>
        <li>How does your team encourage knowledge and community building? What other practices might you explore?</li>
    </ul>
  </div>
</div>




