---
title: Critical Pedagogy
---
<h2>What is critical pedagogy?</h2>

<p>Critical pedagogy involves critical questioning of the status quo, and often is focused on both transformation and promoting social change and social justice.</p>

<p>Proponents of critical pedagogy have argued that "teachers and students should be co-creators of knowledge within the classroom, and dominant ideologies should be exposed for critique and discussion" (Anderson & Herr, 2007).</p>

<p>These ideas challenge traditional conceptions of power and authority within the classroom itself and suggest new possibilities for learning and teaching.</p>

<p>For a closer look at critical pedagogy, work with your team (or individually) on the following interactive reader. </p>

<iframe src="https://uclabruinlearn.h5p.com/content/1291709898502735578/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *" aria-label="Critical Pedagogy"></iframe><script src="https://uclabruinlearn.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="critical-pedagogy-experiences"></a>{% include icon-notebook.html %}In your notebook: Experiences with Critical Pedagogy</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">What are your experiences?</h3>
    <p class="card-text">In your notebook, write a quick (3-5 minute) reflection on one or more of the following questions, and then select a few ideas to share with your team:</p>
	   <h4>Design for Learning</h4>
    <ul>
        <li>Have you ever had a learning experience that involved questioning your own assumptions or beliefs? Looking deeply and critically at common societal conventions or structures? If so, what was this experience like for you and other learners?</li>
        <li>Have you ever had a learning experience that challenged the traditional dynamics between teachers and learners?</li>
        <li>Was the experience transformative for you? For others? If so, how? If not, why not?</li>
    </ul>
	  <h4>Design for UX</h4>
	  <ul>
	  	<li>In what ways does your design process involve going beneath "surface meaning, first impressions, and dominant myths"? What role does this type of critical thinking have in the design process and why might it be important?</li>
		  <li>Have you ever experienced a design (e.g., of an object, product, service, advertisement, or environment) that seemed to be passing on a particular ideology or set of beliefs - either intentionally or unintentionally? If so, what was the context and what impact did it have on you?</li>
	  </ul>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="critical-pedagogy-discussion"></a>{% include icon-team.html %}With your team: Talking about Critical Pedagogy</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Talking about critical pedagogy in practice</h3>
    <p class="card-text">Think back on the <a href="{{ '/modules/key-ideas/key-ideas/' | absolute_url }}" target="_blank">example of active learning in a lecture hall</a> you watched in the introduction to this section. Talk with your team about one or more of the following questions:</p>
    <ul>
        <li>In what ways is <a href="{{ '/modules/key-ideas/key-ideas/' | absolute_url }}" target="_blank">the video we watched previously</a> an example or not an example of critical pedagogy in practice? In what ways do the learners take on traditional roles? In what ways do they take on untraditional roles? What societal conventions are explored and questioned in the lesson?</li>
        <li>Have you experienced a lesson or activity like this? What experiences with critical pedagogy or design did you share in your notebook?</li>
		<li>What role did "design" play in this lesson? For example, what impact did the classroom design have on learning? What about the design of the materials or the lesson itself? If you were designing either the learning environment or the lesson, what would you change? What would you keep the same and why?</li>
		<li>To what extent were the learners in this activity "co-designers" of learning? What kinds agency did they have and not have in this activity?</li>
    </ul>
  </div>
</div>


