---
title: What's missing?
banner: /img/banners/brainstorm-355948-2400.jpg
banner-alt: "A light bulb in the center of a concept map."
comments: true
---
<p>What are we missing?</p>
<!-- todo: consider - topic mapping activity - questions - some integrative activity that brings together top 5 with key ideas and asks - what is missing? -->

<p>So far you have identified your top charactertistics for memorable, meaningful, and transformative learning, and you have also learned about a few key ideas in learning and teaching: active learning, constructivism, social-constructivism, and critical pedagogy.</p>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="concept-mapping"></a>{% include icon-notebook.html %}In your notebook: Concept Mapping</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Concept Mapping</h3>
    <p class="card-text">Let's bring this together with a concept map summarizing what you have learned so far.</p>
    <p>In your notebook, rapidly brainstorm a concept map related to memorable, meaningful, and transformative learning. There are many ways to do this, so feel free to explore your own approach, or to follow the suggestions below.</p>
    <ul>
        <li>Place a bubble in the middle of your notebook page labeled "memorable, meaningful, and transformative learning" or "memorable, meaningful, and transformative design."</li>
        <li>Create a second group of bubbles the ideas about learning, teaching, and/or design that are most important for you. You can draw from your "Top 5" list as well as from the "key ideas" presented in this course.</li>
        <li>Next - add things we have missed. What ideas do you want to add to your concept map that we have not yet adequately discussed? Empathy? Equity? Inclusive Design....? Add the ideas we have missed to your concept map.</li>
    </ul>
  </div>
</div>

<!-- todo:: The final product might look something like this: {% include placeholder.html %} -->

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="what-is-missing"></a>{% include icon-team.html %}With your team: What's missing?</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Share your concept map with a member of your team.</h3>
    <p class="card-text">Be sure to highlight new key ideas that you added to your map that we have not fully addressed in this mini-course.</p>
    <h3>Add a comment on what we're missing below.</h3>
    <p>Help us improve this course by adding your suggestions for key ideas to the comment thread below. Happy with what you have learned so far? You can also use the comments to let us know what you have appreciated about this mini-course!</p>
    <!--
    <ul>
        <li>An optional list of steps</li>
        <li>or questions</li>
        <li>to work on.</li>
    </ul>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>An optional list</li>
            <li>of helpful tips</li>
        </ul>
    </div>
    -->
  </div>
</div>