---
title: Storyboarding and Sketching
---

<p>Yay! Congratulations! You have almost made it through the "Key Ideas" section of Foundations! To wrap things up, here are two creative activities you can use to review and demonstrate your learning so far!</p>

<p>If your focus is on Design for Learning, continue on to the next activity in which you'll get to experiment with making a storyboard. If your focus is on Design for UX, jump down to the section on <a href="#design-for-ux">sketching a redesign</a> of an aspect of your educational experience. Either way, have fun making and creating as well as demonstrating all you have learned so far!</p>

<h2 id="design-for-learning">Design for Learning: Storyboarding one of your learning narratives</h2>

<p>Next, let's bring together what you have learned so far in this mini-course by creating storyboard or design sketch.
	
<p>First, reflect on the stories you have shared so far during this mini-course. You may want to review the activities you have completed so far in your notebook, as well as think about the discussions you have had with your team. Here are a few questions to help you choose a learning experience to write about:</p>

<ul>
    <li>What was your most compelling learning experience?</li>
    <li>Which of your learning/design experiences would make the most interesting story to share with your team?</li>
    <li>Which of your learning/design experiences is the most fun for you to think about and share?</li>
</ul>

<p>Once you have a few ideas for learning experiences that you might want to storyboard, watch the following playlist of learning narratives created by previous participants in this mini-course. </p>

<div class="card my-5 shadow-sm">
    <div class="card-header">
    <span>Example Learning Narratives:</span>
  </div>
    <div class="card-body">
        <div class="card-content">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/videoseries?list=PLV8eqWoGXke7bbWJPk3LBlvTmQuuWqt3J" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="storyboarding"></a>{% include icon-notebook.html %}In your notebook: Storyboarding</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Storyboarding your learning narrative</h3>
    <h4>Part 1</h4>
      <ul>
          <li>Watch at least 2 of the example learning narrative videos. 
            <li>Comment and reflect in your notebook -- what was most interesting or compelling for you about these videos? For you, what are the most important elements of a learning narrative? If you were to make a learning narrative video, what would you do to make it a compelling story?</li>
      </ul>
    <h4>Part 2</h4>  
    <p class="card-text">In your notebook, create a simple storyboard by dividing each page into 4 boxes. In each box, draw a quick sketch of what the viewer will <em>see</em>. Underneath the sketch, write a transcript of what the viewer will <em>hear</em>. Take a look at the <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Build Something Toolkit</a> for an example storyboard template.</p>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>Don't worry about drawing ability! Focus on making each scene rapidly with very basic drawings!</li>
            <li>Try creating a new "scene" for every line in your story.</li>
        </ul>
    </div>
  </div>
</div>

<h2 id="design-for-ux">Design for UX: Sketching a Redesign</h2>

<p>To bring together your learning so far with a Design for UX focus, imagine you could redesign some aspect of your education. For example, you might choose to redesign the traditional classroom learning environment, or campus housing, or dining services. Or, you might want to redesign the approach taken to discussion sections or studio classes. Or maybe you'd like to redesign a campus service, space, or interaction.</p>

<p>Choose something to redesign, and create a very quick sketch of your redesign. Don't worry about artistry at all, instead, just focus on getting a few ideas on paper. As you sketch, consider all of the "key ideas" we have discussed so far. How can you incorporate one or more of these concepts into your design. Annotate your design with ideas and questions that come up for you.</p>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="sharing"></a>{% include icon-team.html %}With your team: Sharing your work</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Sharing (and celebration)</h3>
    <p class="card-text">As a team, share your work - which might be a learning narrative storyboard or a redesign sketch. Congratulate each other and share your thoughts on the following questions:</p>
    <ul>
        <li>What did you like best about and why?</li>
        <li>What was the most pivotal or interesting moment in the story or the most compelling aspect of the design for you? Why?</li>
        <li>Which ideas about learning, teaching, and design come through in the story/sketch for you?</li>
    </ul>
      <p>Plan a way to celebrate together with your team! You've just completed the "key ideas" part of this mini-course! </p>
  </div>
</div>



