---
title: Active Learning
---
<h2>What is active learning?</h2>

<p>In active learning approaches, both teachers and learners are actively engaged in the learning process. But what does that really mean?</p>

<p>To get the conversation started, work with your team (or individually) on the following <em>interactive reader</em> on active learning.</p>

<iframe src="https://uclabruinlearn.h5p.com/content/1291709897731683898/embed" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *" aria-label="Active Learning"></iframe><script src="https://uclabruinlearn.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
<!-- todo: make frameborder better match theme -->
<!-- todo: consider - experiential learning, pair and group work, problem-based learning, desirable difficulty, flow -->

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="active-learning-experiences"></a>{% include icon-notebook.html %}In your notebook: Your Active Learning Experiences</span>
    <!-- alt version for "With your team:" -->
    <!--
    <span>{% include icon-team.html %}With your team:</span>
    -->
  </div>
  <div class="card-body">
    <h3 class="card-title">What are your experiences with active learning? With action and interaction in design?</h3>
	  <h4>Design for learning</h4>
    <p class="card-text">Think of a learning experience you have had that seemed particularly <em>active</em> to you. Jot down a quick (2-3 minute) reflection in your notebook on the experience. You might consider one or more of the following questions:</p>
    <ul>
        <li>What was the setting and what were you learning?</li>
        <li>What made the learning "active"? Was it experiential in some way? Collaborative? Challenging? ...?</li>
        <li>Was this learning experience memorable? Meaningful? Transformative? Why or why not?</li>
    </ul>
	  <h4>Design for UX</h4>
	  <p class="card-text">Think of an experience you have had (e.g., in an environment or with a product or service) that seemed particularly <em>active</em> or <em>interactive</em> to you. Jot down a quick (2-3 minute) reflection in your notebook about the experience. You might consider one or more of the following questions:</p>
    <ul>
        <li>What was the setting and what were you doing?</li>
        <li>What made the experience "active" or "interactive"? Was it experiential in some way? Collaborative? Challenging? ...?</li>
		<li>From a design perspective, what made the experience memorable, meaningful, or transformative? If you were the designer, what would you have done to make it more so?</li>
    </ul>
    <div class="card-footer">
        <h4>Thinking about it a little more:</h4>
        <ul>
            <li>Many people have had both positive and negative experiences with active learning. What makes some experience positive and others negative? Are there common themes which connect the more positive experiences with active learning?</li>
			<li>What contextual factors are important to consider when we are creating interactive designs?</li>
        </ul>
    </div>
  </div>
</div>

