---
title: Your learning narrative
---
<h2>Sharing one of your learning stories</h2>

<p>Next, let's bring together what you have learned so far in this mini-course by writing a short (200-250 word) learning narrative in your notebook.</p>

<p>Here are a few questions to get you choose a learning experience to write about:</p>

<ul>
    <li>What was the most compelling learning experience you have experienced?</li>
    <li>Which of your learning experiences would make the most interesting story to share with your team?</li>
</ul>

<p>Once you have a few ideas for learning experiences that you might want to write about, watch the following playlist of learning narratives created by previous participants in this mini-course. </p>

<div class="card my-5 shadow-sm">
    <div class="card-header">
    <span>Example Learning Narratives:</span>
  </div>
    <div class="card-body">
        <div class="card-content">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/videoseries?list=PLV8eqWoGXke7bbWJPk3LBlvTmQuuWqt3J" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-notebook.html %}In your notebook:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Your Learning Narrative</h3>
    <p class="card-text">In your notebook, write the first draft of your learning narrative.</p>
    <!--
    <ul>
        <li>An optional list of steps</li>
        <li>or questions</li>
        <li>to work on.</li>
    </ul>
    -->
    <!--
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>Take note of how the learning narrative video examples were constructed. What was most effective or ineffective?</li>
            <li>of helpful tips</li>
        </ul>
    </div>
    -->
  </div>
</div>


<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-team.html %}With your team:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Learning narrative sharing (and celebration)</h3>
    <p class="card-text">As a team, share your learning narratives. Congratulate each other and share your thoughts on the following questions:</p>
    <ul>
        <li>What did you like best about the story and why?</li>
        <li>What was the most pivotal or interesting moment in the story for you? Why?</li>
        <li>Which ideas about learning and teaching come through in the story for you?</li>
    </ul>
      <p>Plan a way to celebrate together with your team! You've just completed the "key ideas" part of this mini-course!</p>
    <!--
      <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>An optional list</li>
            <li>of helpful tips</li>
        </ul>
    </div>
    -->
  </div>
</div>



