---
title: Critical Pedagogy
---
<h2>What is critical pedagogy?</h2>

<p>Critical pedagogy involves critical questioning of the status quo, and often is focused on both transformation and promoting social change and social justice.</p>

<p>Proponents of critical pedagogy have argued that "teachers and students should be co-creators of knowledge within the classroom, and dominant ideologies should be exposed for critique and discussion" (Anderson & Herr, 2007).</p>

<p>These ideas challenge traditional conceptions of power and authority within the classroom itself and suggest new possibilities for learning and teaching.</p>

<p>For a closer look at critical pedagogy, work with your team (or individually) on the following interactive reader. </p>

<iframe src="https://ccle.ucla.edu/mod/hvp/embed.php?id=2450563" width="100%" height="546" frameborder="1" allowfullscreen="allowfullscreen"></iframe><script src="https://ccle.ucla.edu/mod/hvp/library/js/h5p-resizer.js" charset="UTF-8"></script>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-notebook.html %}In your notebook:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">What are your experiences?</h3>
    <p class="card-text">In your notebook, write a quick (3-5 minute) reflection on the following questions, and then select a few ideas to share with your team:</p>
    <ul>
        <li>Have you ever had a learning experience that involved questioning your own assumptions or beliefs? Looking deeply and critically at common societal conventions or structures? If so, what was this experience like for you and other learners?</li>
        <li>Have you ever had a learning experience that challenged the traditional dynamics between teachers and learners?</li>
        <li>Was the experience transformative for you? For others? If so, how? If not, why not?</li>
    </ul>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span>{% include icon-team.html %}With your team:</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Talking about critical pedagogy in practice</h3>
    <p class="card-text">Think back on the <a href="{{ '/modules/key-ideas/key-ideas/' | absolute_url }}" target="_blank">example of active learning in a lecture hall</a> you watched in the introduction to this section.</p>
    <ul>
        <li>In what ways is <a href="{{ '/modules/key-ideas/key-ideas/' | absolute_url }}" target="_blank">the video we watched previously</a> an example or not an example of critical pedagogy in practice? In what ways do the learners take on traditional roles? In what ways do they take on untraditional roles? What societal conventations are explored and questioned in the lesson?</li>
        <li>Have you experienced a lesson or activity like this? What experiences with critical pedagogy did you share in your notebook?</li>
    </ul>
  </div>
</div>


