---
title: Storyboarding
---
<h2>Storyboarding one of your learning narratives</h2>

<p>Next, let's bring together what you have learned so far in this mini-course by creating a short (200-250 word) storyboard of one of your learning narratives.</p>

<p>First, reflect on the stories you have shared so far during this mini-course. You may want to review the activities you have completed so far in your notebook, as well as think about the discussions you have had with your team. Here are a few questions to help you choose a learning experience to write about:</p>

<ul>
    <li>What was your most compelling learning experience?</li>
    <li>Which of your learning experiences would make the most interesting story to share with your team?</li>
    <li>Which of your learning experiences is the most fun for you to think about and share?</li>
</ul>

<p>Once you have a few ideas for learning experiences that you might want to storyboard, watch the following playlist of learning narratives created by previous participants in this mini-course. </p>

<div class="card my-5 shadow-sm">
    <div class="card-header">
    <span>Example Learning Narratives:</span>
  </div>
    <div class="card-body">
        <div class="card-content">
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/videoseries?list=PLV8eqWoGXke7bbWJPk3LBlvTmQuuWqt3J" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
    
<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="storyboarding"></a>{% include icon-notebook.html %}In your notebook: Storyboarding</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Storyboarding your learning narrative</h3>
    <h4>Part 1</h4>
      <ul>
          <li>Watch at least 2 of the example learning narrative videos. 
            <li>Comment and reflect in your notebook -- what was most interesting or compelling for you about these videos? For you, what are the most important elements of a learning narrative? If you were to make a learning narrative video, what would you do to make it a compelling story?</li>
      </ul>
    <h4>Part 2</h4>  
    <p class="card-text">In your notebook, create a simple storyboard by dividing each page into 4 boxes. In each box, draw a quick sketch of what the viewer will <em>see</em>. Underneath the sketch, write a transcript of what the viewer will <em>hear</em>. Take a look at the <a href="https://ucla.app.box.com/v/build-something-toolkit" target="_blank">Build Something Toolkit</a> for an example storyboard template.</p>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>Don't worry about drawing ability! Focus on making each scene rapidly with very basic drawings!</li>
            <li>Try creating a new "scene" for every line in your story.</li>
        </ul>
    </div>
  </div>
</div>


<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="sharing"></a>{% include icon-team.html %}With your team: Sharing your Storyboard</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Storyboard sharing (and celebration)</h3>
    <p class="card-text">As a team, share your learning narrative storyboards. Congratulate each other and share your thoughts on the following questions:</p>
    <ul>
        <li>What did you like best about the story and why?</li>
        <li>What was the most pivotal or interesting moment in the story for you? Why?</li>
        <li>Which scenes are you most excited about? Why?</li>
        <li>Which ideas about learning and teaching come through in the story for you?</li>
    </ul>
      <p>Plan a way to celebrate together with your team! You've just completed the "key ideas" part of this mini-course!</p>
  </div>
</div>



