---
title: Learning Journey
---
<h2>Learning Journey Mapping</h2>

<p>Thinking about learning as a <em>journey</em> can help you and your team:</p>

<ul>
    <li>break down complex outcomes into smaller tasks,</li>
    <li>situate your learning outcomes within the learner's process,</li>
    <li>identify learning outcomes you may want to explore in your design.</li>
</ul>

<div class="card my-5 shadow-sm" style="width: 100%;">
    <div class="card-header">Example learning journey map:</div>
  <img src="{{ '/img/example-learning-journey.jpg' | relative_url }}" class="card-img-top" alt="An example learning journey map.">
  <div class="card-body">
    <p class="card-text">This learning journey map explores the challenge of working in groups on an experimental research project. The designer has identified a possible learning outcome, and then brainstormed how to set learners up for success (in the left box) and what learners will do next (in the right box).</p>
      <p>Note that for this project, the designer has chosen to focus on one of the pre-requisite skills in the left box.</p>
  </div>
    <div class="card-footer"><p><small>CC BY 4.0, <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Brecher Cook, D., & Worsham, D. (2018, April).</a> Adapted from: Stanford d.school. <a href="https://dschool.stanford.edu/resources/design-thinking-bootleg" target="_blank">Design Thinking Bootcamp Bootleg.</a> and <a href="http://proquest.safaribooksonline.com/?fpi=9781449391195" target="_blank">Gray, D., Brown, S., & Macanufo, J. (2010).</a></small></p></div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="your-learning-journey"></a>{% include icon-notebook.html %}In your notebook: Your Learning Journey Map</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Start by making your own learning journey map.</h3>
        <ol>
            <li>Download the <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Build Something Toolkit</a> and print a blank learning journey map template, or sketch the learning journey map in your notebook. Each member of the team should have their own copy of the learning journey map.</li>
            <li>Review your empathy map, and the learning outcomes you have identified so far.</li>
            <li>Work individually to create a learning journey for your challenge. Place one of the learning outcomes you have identified in the center, and then identify what learning comes before and after this learning outcome. Work rapidly, generating ideas individually for no more than 5 minutes. </li>
    </ol>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>Revisit your empathy map. What are some of the hidden or invisible challenges learners might face? What can learners do to overcome these challenges?</li>
            <li>Identify the steps that experts sometimes forget they do, or do automatically and/or unconsciously. Think about how to make these steps easily understandable for learners.</li>
        </ul>
    </div>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="learning-journey"></a>{% include icon-team.html %}With your team: Learning Journey Mapping</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Share your ideas with your team</h3>
    <ol>
        <li>Come together as a team to share and compile your ideas. Work together to identify the actions and learning outcomes that will be most helpful for learners. Use this process to narrow down the scope of your project to focus on a small number of manageable learning outcomes.</li>
    </ol>
  </div>
</div>


