---
title: Learning Outcomes
---
<h2>About Learning Outcomes</h2>

<p>Talking about learning in terms of <em>learning outcomes</em> is a fundamental part of the design process.</p>

<p>A learning outcome is basically a statement about what you hope learners will be able to do as a result of their learning. So, for example, one learning outcome for this mini-course  is:</p>

<!-- todo:: this could be an interactive reader -->

<blockquote> Learners will be able to articulate connections between their own learning experiences and key concepts in learning theory, particularly active learning, constructivism, and critical pedagogy.</blockquote>

<p>People have many opinions on how to write learning outcomes, but the most important thing  to know is that well articulated learning outcomes are <em>observable</em>. This means that you should be able to see some evidence of whether or not learning has happened. To make sure that a learning outcome is observable, it has to have at its heart an <em>observable verb.</em></p>

<p>To see how this works, compare the following learning outcomes:</p>

<blockquote>1. Learners will understand active learning, constructivism, and social constructivism.</blockquote>

<blockquote>2. Learners will be able to define active learning, constructivism, and social constructivism.</blockquote>

<p>The only difference between these two learning outcomes is the verb. "Define" is an observable action verb, because we can see or hear a learner taking this action by either writing or speaking a definition. The verb "understand," on the other hand, is a bit harder to see and measure. The only way to demonstrate that you "understand" something, is to demonstrate your understanding through some observable action (like writing a definition). With learning outcomes, while we might start with something like "understand" we always want to move toward a more specific, observable action.</p>

<h3>Learning Outcomes: Examples and Counter-Examples:</h3>
<p>Read through the following slideshow to see examples of specific, observable, and learner-centered learning outcomes. The slideshow also includes a list of commonly used learning-outcome verbs, and checklist for evaluating your learning outcomes.</p>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSa_YhqoP-AyPnMQNlzFxBBLmUqxelP5JAfSPtF409qHjuQsP3Vf906OQuEzRerBnIKtqIRoXHabufT/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="id-learning-outcomes"></a>{% include icon-notebook.html %}In your notebook: Identifying Learning Outcomes</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Identifying learning outcomes</h3>
    <p class="card-text">Take a look at the empathy mapping activity you did in the previous section.</p>
      <p class="card-text">Look for possible learning outcomes in your empathy map. Try to turn the breakthroughs you identified into learning outcomes. For help, check out Bloom's taxonomy, a popular collection of observable verbs for writing learning outcomes:</p>
      <a href="https://commons.wikimedia.org/wiki/File:Blooms_rose.svg" target="_blank"><img src="{{ '/img/blooms-rose.png' | absolute_url }}" class="img-fluid border-primary"></a>
      <p>Make a list of learning outcomes based on your challenge. Write these down in your notebook and be ready to share with your team!</p>
  </div>
</div>


<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="observable"></a>{% include icon-team.html %}With your team: Observable Learning Outcomes</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Reviewing and improving learning outcomes</h3>
      <p class="card-text">Work together as a team to review and improve your learning outcomes. You can use the following checklist to make sure your outcomes are specific, observable, and learner-centered.</p>
      <ul>
          <li><strong>Learner Centered</strong>: Make sure learners are the focus of the learning outcome by placing them as the subject of the sentence. Watch out for teacher-focused statements (e.g., "I will show...", "I will cover…" or "I will explain") that place the teacher at the center. Re-write teacher-centered statements from a learner's point of view.</li>
          <li><strong>Observable verbs:</strong> Replace verbs like "understand," "comprehend," and "know" with more specific and observable verbs. Ask yourself - if learners understand this idea, what could they do to demonstrate their understanding? The answer to that question should help you find an observable verb!</li>
          <li><strong>Get specific:</strong> Begin the process of breaking down large and complex learning outcomes into smaller ones. For each learning outcome you write, ask yourself, what are each of the things a learner would need to do to be successful?</li>
          
      </ul>
  </div>
</div>


<p>Interested in learning more? Check out:</p>
<cite>Saunders, L., & Wong, M. A. (2020). <a href="https://iopn.library.illinois.edu/pressbooks/instructioninlibraries/chapter/establishing-learning-goals-and-outcomes/" target="_blank">Establishing Learning Goals and Outcomes</a>. In Instruction in Libraries and Information Centers. Windsor & Downs Press. https://iopn.library.illinois.edu/pressbooks/instructioninlibraries/chapter/establishing-learning-goals-and-outcomes/
</cite>
    


