---
title: Learning Outcomes
---
<h2>About Learning Outcomes</h2>

<p>Talking about learning in terms of <em>learning outcomes</em> is a fundamental part of the design process.</p>

<p>A learning outcome is basically a statement about what you hope learners will be able to do as a result of their learning. So, for example, one learning outcome for this mini-course  is:</p>

<!-- todo:: this could be an interactive reader -->

<blockquote> Learners will be able to articulate connections between their own learning experiences and key concepts in learning theory, particularly active learning, constructivism, and critical pedagogy.</blockquote>

<p>People have many opinions on how to write learning outcomes, but the most important thing  to know is that well articulated learning outcomes are <em>observable</em>. This means that you should be able to see some evidence of whether or not learning has happened. To make sure that a learning outcome is observable, it has to have at its heart an <em>observable verb.</em></p>

<p>To see how this works, compare the following learning outcomes:</p>

<blockquote>1. Learners will understand active learning, constructivism, and social constructivism.</blockquote>

<blockquote>2. Learners will be able to define active learning, constructivism, and social constructivism.</blockquote>

<p>The only difference between these two learning outcomes is the verb. "Define" is an observable action verb, because we can see or hear a learner taking this action by either writing or speaking a definition. The verb "understand," on the other hand, is a bit harder to see and measure. The only way to demonstrate that you "understand" something, is to demonstrate your understanding through some observable action (like writing a definition). With learning outcomes, while we might start with something like "understand" we always want to move toward a more specific, observable action.</p>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="observable"></a>{% include icon-team.html %}With your team: Observable Learning Outcomes</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Making observable learning outcomes</h3>
    <p class="card-text">To get some initial practice with this, work with your team on two or more ways you can rewrite the following learning outcome with more specific, observable verbs.</p>
      <blockquote>Learners will understand the difference between peer-reviewed articles and news articles.</blockquote>
    <p class="card-text">Next, take a look at the following big list of observable verbs. This list, known is "Bloom's taxonomy" is a very popular collection of observable verbs that you can use to write learning outcomes.</p>
      <a href="https://commons.wikimedia.org/wiki/File:Blooms_rose.svg" target="_blank"><img src="{{ '/img/blooms-rose.png' | absolute_url }}" class="img-fluid border-primary"></a>
      <p>Are any of the verbs you used to write your learning outcomes listed on the taxonomy?</p>

  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="id-learning-outcomes"></a>{% include icon-notebook.html %}In your notebook: Identifying Learning Outcomes</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Identifying learning outcomes</h3>
    <p class="card-text">Take a look at the empathy mapping activity you did in the previous section.</p>
      <p class="card-text">Look for possible learning outcomes in your empathy map. Try to turn the breakthroughs you identified into learning outcomes using Bloom's taxonomy.</p>
      <p>Make a list of learning outcomes based on your challenge. Write these down in your notebook. We will use them in the next section!</p>
  </div>
</div>


    


