---
title: Four Paths
---
<h2>Four Paths Prototyping</h2>

<p>Four paths prototyping helps you quickly develop a variety of ways to address a challenge. You can use four paths with your team to:</p>

<ul>
    <li>leverage divergent thinking to explore multiple pathways,</li>
    <li>explore your learning outcomes across different forms of media,</li>
    <li>select an initial approach for further prototyping.</li>
</ul>

<div class="card my-5 shadow-sm" style="width: 100%;">
    <div class="card-header">Example 4 paths prototype:</div>
  <img src="{{ '/img/example-4-paths.jpg' | relative_url }}" class="card-img-top" alt="An example 4 paths prototype.">
  <div class="card-body">
    <p class="card-text">This 4 paths prototype explores 4 ways to approach the same learning outcome. The designer has rapidly sketched and annotated a handout, an interactive web tutorial, a video interview, and a quiz.</p>
  </div>
    <div class="card-footer"><p><small>CC BY 4.0, <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Brecher Cook, D., & Worsham, D. (2018, April).</a> Adapted from <a href="http://proquest.safaribooksonline.com/?fpi=9781449391195" target="_blank">Gray, D., Brown, S., & Macanufo, J. (2010).</a></small></p></div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="your-4-paths"></a>{% include icon-notebook.html %}In your notebook: Exploring 4 paths</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Start on your own with a 4 paths prototype.</h3>
        <ol>
            <li>Download the <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Build Something Toolkit</a> and print a blank 4 paths template, or sketch the 4 paths activity in your notebook. Each member of the team should have their own copy of the 4 paths activity.</li>
            <li>Review your learning journey map, and focus on the learning outcomes you have identified for this project. You may also want to review your empathy map as you get started prototyping.</li>
            <li>Quickly articulate the learning outcome(s) you would like to focus on in this activity.</li>
            <li>work individually to create 4 prototypes for each learning outcome. Sketch and generate ideas for 1-2 minutes per prototype, for a total of no more than 4-6 minutes for the entire activity.</li>
    </ol>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
             <li>Explore all options freely and without worry.</li>
            <li>Let yourself consider print, digital, video, audio, interactive exhibit, performance art, animation, in-person activities, anything!</li>
        </ul>
    </div>
  </div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="4paths"></a>{% include icon-team.html %}With your team: 4 Paths Prototyping</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">How to explore 4 paths</h3>
    <ol>
        <li>Come together as a team to share and compile your ideas. Work together to label pathways based on criteria you generate as a team (e.g., most feasible, biggest impact, most fun to make, etc.).</li>
    </ol>
   
  </div>
</div>


