---
title: Empathy Mapping
---
<h2>Empathy Mapping</h2>

<p>Empathy mapping is a design technique that you and your team can use to:</p>

<ul>
    <li>center your design around learners and their goals,</li>
    <li>situate your design ideas in real-world learning contexts,</li>
    <li>and develop insight into key breakthroughs in the learning process.</li>
</ul>

<div class="card my-5 shadow-sm" style="width: 100%;">
    <div class="card-header">Example empathy map:</div>
  <img src="{{ '/img/example-empathy-map.jpg' | relative_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">This empathy map explores the challenge of working in groups on an experimental research project. The designer has included a mix of statements, questions, and sketches while brainstorming.</p>
  </div>
    <div class="card-footer"><p><small>CC BY 4.0, <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Brecher Cook, D., & Worsham, D. (2018, April).</a> Adapted from: Stanford d.school. <a href="https://dschool.stanford.edu/resources/design-thinking-bootleg" target="_blank">Design Thinking Bootcamp Bootleg.</a> and <a href="http://proquest.safaribooksonline.com/?fpi=9781449391195" target="_blank">Gray, D., Brown, S., & Macanufo, J. (2010).</a></small></p></div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="your-empathy-map"></a>{% include icon-notebook.html %}In your notebook: Your Empathy Map</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Start by making your own empathy map.</h3>
        <ol>
            <li>Download the <a href="https://app.box.com/s/184451559ey5uloo11x42z458zcrlevp" target="_blank">Build Something Toolkit</a> and print a blank empathy map template, or sketch the empathy map in your notebook. Each member of the team should have their own copy of the empathy map.</li>
            <li>Identify a learning challenge you would like to explore either individually or with your team (e.g., “writing an effective literature review”).</li>
            <li>Work individually to create an empathy map for this challenge. Work rapidly, generating ideas individually for no more than 5 minutes (i.e., about about 1 minute for each of the questions on the empathy map).</li>
    </ol>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>Make this activity fast by brainstorming for no more than a minute per question! You will be surprised at how many ideas you can generate in just one minute!</li>
            <li>Explore the diversity of learners and learning contexts, as well as the commonalities.</li>
            <li>Question your assumptions and actively identify unknowns. Write your questions and unknowns directly on the empathy map.</li>
        </ul>
    </div>
  </div>
</div>


<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="empathy-mapping"></a>{% include icon-team.html %}With your team: Empathy Mapping</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Share your empathy maps</h3>
    <ol>
        <li>Come back together as a team to share your empathy maps and compile your ideas. Your goal is to help each other map out different perspectives on the learners, their goals, and the learning contexts. You can also begin to inventory the most important breakthroughs that will help learners achieve their goals.</li>
    </ol>
    <div class="card-footer">
        <h4>Tips</h4>
        <ul>
             <li>In addition to working with your design team, consider working directly with your stakeholder groups on empathy mapping activities.</li>
        </ul>
    </div>
  </div>
</div>

<!--
    <ol>
        <li>Identify the challenge you would like to explore and write this on the top of the empathy map.</li>
        <li>Reflect on the learners and their goals: Who are the learners? What background knowledge do they have? What are their goals? Areas of expertise? How do learners currently approach this challenge?</li>
        <li>Explore the contexts in which learning will happen & identify requirements and expectations: Is this a required course? Do learners have equal access to information and materials? How does grading/evaluation work? Are grading expectations clear for all learners? What other contextual factors might impact learning?</li>
        <li>Identify breakthroughs and "aha moments" in the learning process that will help learners achieve their goals and meet the requirements and expectations.</li>
    </ol>
-->
