---
title: Learning Reflections
---

<h2>When is learning most memorable, meaningful, and transformative?</h2>

<p>We learn a lot every day. And some of the learning we do is particularly special. Maybe it is special because we remember it for a long time, or because it has personal meaning and significance for us. Or maybe it was special because it fundamentally changed how we think, act, and create in the world.</p>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="mmt-learning"></a>{% include icon-notebook.html %}In your notebook: Memorable, meaningful, and transformative learning</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Reflections on memorable, meaningful, and transformative learning</h3>
    <p class="card-text">Think of a time you learned something that was <em>memorable</em>, <em>meaningful</em>, and perhaps even <em>transformative</em>. This experience might have been in an academic environment, but it could also have happened outside of a "formal" learning context.</p>
    <ul>
        <li>What did you learn?</li>
        <li>How did it happen?</li>
        <li>Who was involved?</li>
        <li>What was the environment like?</li>
		<li>What role did design play in the experience? Where the spaces designed in a way that promote or inihibited learning? What impact did the design of the activities or materials have on your experience?</li>
		<li>If you were to redesign this learning experience in some way, what would you do and why?</li>
        <li>What other impressions or memories do you have of your learning experience?</li>
    </ul>
    <div class="card-footer">
        <h4>Need ideas?</h4>
        <ul>
            <li>Think about the many contexts in which you learn. For example, you might write about learning to do something creative, or a time you were travelling and learned something about different cultures. Any story or memory you have of an impactful learning experience will work for this exploration!</li>
            <li>For more inspiration, see this playlist of <a href="https://www.youtube.com/watch?v=aYhQEOXJ8d0&list=PLV8eqWoGXke7bbWJPk3LBlvTmQuuWqt3J" target="_blank">learning narratives</a> created by previous participants in this mini-course.</li>
        </ul>
        <p><small>Activity adapted from <a href="https://dmcwo.github.io/dmcwo/presentations/liw-learning-theories-and-approaches/" target="_blank">DeFrain, Glassman, Pagowsky, and Worsham, 2016.</a></small></p>
  </div>
</div>
</div>

<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="share"></a>{% include icon-team.html %}With your team: Share your story</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Share your story</h3>
    <p class="card-text">When you finish, share your experiences with a member of your team. As you share, look for similarities and differences based on your experiences.</p>
    <div class="card-footer">
        <h4>Tips</h4>
        <p>Be sure to listen first, and then comment, question, and engage with the ideas shared by your teammates.</p>
    </div>
  </div>
</div>
