---
title: Getting Started
banner: /img/banners/team-and-notebook-cropped.jpg
banner-alt: "a notebook with a hand written message that says, all you really need is a team and a notebook"
---
<h2 id="what-do-we-need-to-get-started-">What do we need to get started?</h2>
<p>You&#39;re ready! This mini-course is designed around the idea that sharing our learning experiences is the best possible starting point for learner-centered design. So, that means you already have everything you need to get started!</p>
<p>And that is also why the readings in this course are all very short (i.e., paragraphs instead of articles), and are presented as interactive readers that can be completed quickly, either on your own or with your team. Similarly, the videos in the course are all short and to the point.</p>
<p>In other words, the learning doesn&#39;t happen on the screen, but through your reflections, conversations, and creative work.</p>
<p>All you really need is a team and a notebook.</p>
<h3><img src="{{ '/img/icons/np_talk_2391682_000000_84.png' | relative_url }}" alt="Speech bubble icon" class="mr-2 image-line-height">Why a team?</h3>

<p>While this mini-course can be taken individually, it works best when you can work with at least one other person to share experiences and gather feedback on your work.</p>
<h3>{% include icon-notebook.html %}And why a notebook?</h3>

<p>Throughout the course you will jot down notes and reflections, ask questions, and create prototypes and storyboards. You will want to keep all of this great work organized into some sort of notebook. It could be digital, e.g., in a google doc, or on paper. The most important thing is that you dedicate time and energy to exploring and capturing your thoughts and ideas as you learn!</p>
<h2 id="ready-">Ready?</h2>


<div class="card my-5 shadow-sm">
  <div class="card-header">
    <span><a id="hopes"></a>{% include icon-notebook.html %}In your notebook: Hopes &amp; Goals</span>
  </div>
  <div class="card-body">
    <h3 class="card-title">What are your hopes? What are your goals? What are you curious about?</h3>
    <p class="card-text">To get started, write your first entry in your notebook:</p>
    <ul>
        <li>What do you hope to learn, do, and create in this mini-course?</li>
        <li>What are you most curious about and what questions do you have at this point?</li>
    </ul>
    <!--<div class="card-footer">
        <h4>Tips</h4>
        <ul>
            <li>An optional list</li>
            <li>of helpful tips</li>
        </ul>
    </div>
    -->
  </div>
</div>

<!-- todo: consider disqus comments integration -->